<html ng-app="app">
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="styles.css" rel="stylesheet" type="text/css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<meta charset=utf-8 />
<title>Angular JS Demo</title>
</head>
<body ng-controller="MainCtrl">
    (work in progress....)
<h1> GitHub Repositories Listing </h1>
  <label> Enter User Name: <input ng-model="reponame"/><button ng-click="getData()">Get</button></label>
  <pie-chart chart-data="myData"></pie-chart> 
  <div id="tooltip" class="hidden">
    <p><span id="key"></span>
    </p>
    <p><span id="value">100</span>%</p>
</div>
   <div class="data"><span ng-if="loading">Loading...</span>
        <div class="language" ng-repeat = "(key, val) in langMap track by key">
            <div class="language language-text">{{key}}</div>
            <div class="language language-count">{{val}}</div>
        </div>
        <div class="projects" ng-repeat = "item in data">
            <div class="project-heading" ><a href='{{ item.html_url}}' target='_blank'>{{$index}}. {{item.name}}</a> </div>
            <ul>
       <li>Last updated: {{item.updated_at}}</li>
        <li>{{item.description}}</li> </ul>
        </div></div>
   <script type="text/javascript" src="app.js"></script>
</body>
</html>